.library
  position: fixed
  box-shadow: 2px 2px 50px rgb(221, 221, 221)
  border-radius: 1rem
  top: 0
  left: 0
  width: 20rem
  height: 100%
  padding: 2rem
  overflow: scroll
  h2
    color: whitesmoke


.librarySong
  color: whitesmoke
  display: flex
  align-items: center
  padding: 1rem 2rem 1rem 2rem
  flex-direction: column
  img
    width: 30%


.librarySongs
  color: whitesmoke
  display: flex
  align-items: center
  margin: 15px 0 15px
  &:hover
    background: #665777





.songDescription
  padding-left: 1rem

  h3
    font-size: 1rem

  h4
    font-size: 0.7rem

