nav
  min-height: 10vh
  display: flex
  justify-content: space-around
  align-items: center
  color: ghostwhite

  button
    background: transparent
    cursor: pointer
    border: 2px solid ghostwhite
    font-size: 25px
    color: #7e6654
    padding: 0.5rem
    transition: all 0.3s ease
    span
      color: ghostwhite
    &:hover
      background: #7e6654
      color: ghostwhite
