nav
  min-height: 10vh
  display: flex
  justify-content: space-around
  align-items: center
  color: ghostwhite
  margin-top: 50px

  button
    background: transparent
    cursor: pointer
    border: 2px solid ghostwhite
    font-size: 25px
    color: #7e6654
    transition: all 0.3s ease
    padding: 0.5rem 0.5rem

    span
      color: ghostwhite
      padding-right: 15px

    &:hover
      background: #7e6654
      color: ghostwhite

@media (max-width: 768px)
  nav
    button
      z-index: 10
