// i just changed colors to make my screen monitor more darker, cuz it's evening and i don't wanna so much light in my room:)
.player
  min-height: 20vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.timeControl
  width: 50%
  background: #0c4141
  display: flex
  font-size: 16px
  input
    width: 100%
    padding: 1rem 2rem
  p
    padding: 1rem


.playControl
  display: flex
  align-items: center
  padding: 1rem
  justify-content: space-between
  width: 25%
  svg
    cursor: pointer

//.playControl svg
//  cursor: pointer


//.play